@import "./000_css/AppTailwind.css";
@import url("https://fonts.googleapis.com/css2?family=Chicle&family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap");
@import "./000_css/Dialog.css";
@import "./000_css/Header.css";

@import "./000_css/900_tooltips.css";

:root {
    --text-color: #333;
    --company-color1: rgba(64, 119, 187, 1);
    --company-color2: rgba(29, 47, 78, 1);
    --company-color3: rgba(255, 255, 255, 1);
    --company-color1-alpha: rgba(64, 119, 187, 0.3);
    --company-color2-alpha: rgba(29, 47, 78, 0.3);
    --company-color3-alpha: rgba(255, 255, 255, 0.3);
    --global-shadow-color: rgba(0, 0, 0, 0.4);

    --sidebar-transition-time: 0.3s;
    --sidebar-transition-animation: ease-in-out;
    --bottom-nav-transition-time: 0.1s;
    --bottom-nav-transition-animation: ease-in-out;

    --header-height: 2rem;
    --sidebar-width: 15rem;
    --right-sidebar-width: 20rem;
    --bottom-nav-height: 11rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html {
    font-size: 16px;
}
body {
    height: 100%;
    width: 100%;
    color: var(--text-color);
    background: linear-gradient(45deg, var(--company-color1) 0, 5%, var(--company-color2) 5% 10%, var(--company-color3) 10% 80%, var(--company-color1) 80% 85%, var(--company-color2) 85% 100%);
}

/* (0) Lyaer 0 */
.application-container {
    position: relative;
    height: 100%;
    width: 100%;
}

/* (1) Lyaer 1 */
/** (1-1) Header **/
.header {
    position: fixed;
    height: var(--header-height);
    width: 100%;
    background: var(--company-color1);
    box-shadow: 2px 2px 2px var(--global-shadow-color);
    display: flex;
    z-index: 99;

    .sidebar-button-area {
        flex-grow: 0;
        height: 100%;
        width: 100%;
        display: flex;
    }
    .status-area {
        flex-grow: 1;
        height: 100%;
        width: 100%;
        display: flex;
    }
    .menu-item-area {
        flex-grow: 1;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .group {
            display: flex;
            .spacer {
                margin-left: 1rem;
            }
        }
    }
}

/** (1-2) sidebar, main-area, right-sidebar **/
/*** (1-2-1) initialize ***/
.sidebar {
    position: fixed;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    width: var(--sidebar-width);
    background: linear-gradient(10deg, var(--company-color1) 0, 5%, var(--company-color2) 5% 10%, var(--company-color3) 10% 80%, var(--company-color1) 80% 85%, var(--company-color2) 85% 100%);
}
.sidebar:before {
    content: "";
    position: absolute;
    height: calc(100vh - var(--header-height));
    width: var(--sidebar-width);
    background: var(--company-color1-alpha);
}
.sidebar:after {
    content: "";
    position: absolute;
    height: calc(100vh - var(--header-height));
    width: var(--sidebar-width);
    background: var(--company-color2-alpha);
    clip-path: ellipse(98% 71% at 20% 30%);
}

.main-area {
    position: fixed;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    widht: 100vw;
    z-index: 51;
}

.right-sidebar {
    position: fixed;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    width: var(--right-sidebar-width);
    background: var(--company-color3);
    z-index: 50;
}

.right-sidebar:before {
    content: "";
    position: absolute;
    height: calc(100vh - var(--header-height));
    width: var(--right-sidebar-width);
    background: var(--company-color2-alpha);
    /* clip-path: ellipse(98% 30% at 91% 90%); */
    z-index: 3;
}
.right-sidebar:after {
    content: "";
    position: absolute;
    height: calc(100vh - var(--header-height));
    width: var(--right-sidebar-width);
    background: var(--company-color1-alpha);
    clip-path: ellipse(158% 41% at 60% 30%);

    z-index: 100;
}

/*** (1-2-2) action ***/
/*** (A) sidebar ***/
.open-sidebar-checkbox {
    display: none;
    &:checked ~ .sidebar {
        left: 0;
        transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
    }
    & ~ .sidebar {
        left: calc(-1 * var(--sidebar-width));
        transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
    }
}

/*** (B) right-sidebar ***/
.open-right-sidebar-checkbox {
    display: none;
    &:checked ~ .right-sidebar {
        right: 0;
        transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
    }
    & ~ .right-sidebar {
        right: calc(-1 * var(--right-sidebar-width));
        transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
    }
}

/*** (C) main-area ***/
.open-sidebar-checkbox:checked + .open-right-sidebar-checkbox:checked {
    ~ .main-area {
        margin-right: 0rem;
        left: var(--sidebar-width);
        right: var(--right-sidebar-width);
        width: calc(calc(100vw - var(--sidebar-width)) - var(--right-sidebar-width));
        transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
    }
}
.open-sidebar-checkbox:checked + .open-right-sidebar-checkbox:not(checked) {
    ~ .main-area {
        margin-right: 0rem;
        left: var(--sidebar-width);
        right: 0rem;
        width: calc(100vw - var(--sidebar-width));
        transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
    }
}
.open-sidebar-checkbox:not(checked) + .open-right-sidebar-checkbox:checked {
    ~ .main-area {
        margin-right: 0rem;
        left: 0rem;
        right: var(--right-sidebar-width);
        width: calc(100vw - var(--right-sidebar-width));
        transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
    }
}
.open-sidebar-checkbox:not(checked) + .open-right-sidebar-checkbox:not(checked) {
    ~ .main-area {
        margin-right: 0rem;
        left: 0rem;
        right: 0rem;
        width: 100vw;
        transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
    }
}

/* (2) Lyaer 2 (In main-area)*/
/* In MainArea, focused video area vs bottom-bar*/
/** (2-1) main-video-area, bottom-nav **/
/*** (2-1-1) initialize***/
.main-video-area {
    overflow: hidden;
    background: #000000;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.bottom-nav {
    overflow: hidden;
    position: absolute;
    width: 100%;

    height: var(--bottom-nav-height);
    /* width: calc(calc(100vw - 15rem) - 15rem); */
    /* display: grid; */
    z-index: 100;
    background: linear-gradient(var(--company-color1-alpha) 0, 15%, var(--company-color2) 5% 10%, var(--company-color2-alpha) 10% 80%, var(--company-color1) 80% 85%, var(--company-color2) 85% 100%);
}

/*** (2-1-2) action***/
/*** (A) bottom nav ***/
.open-bottom-nav-checkbox {
    display: none;
    &:checked ~ .bottom-nav {
        bottom: 0;
        transition: all var(--bottom-nav-transition-time) var(--bottom-nav-transition-animation);
    }
    & ~ .bottom-nav {
        bottom: calc(-1 * var(--bottom-nav-height));
        transition: all var(--bottom-nav-transition-time) var(--bottom-nav-transition-animation);
    }
}

/*** (B) main-video-area ***/
.open-bottom-nav-checkbox {
    display: none;
    &:checked ~ .main-video-area {
        height: calc(100% - var(--bottom-nav-height));
        transition: all var(--bottom-nav-transition-time) var(--bottom-nav-transition-animation);
    }
    & ~ .main-video-area {
        height: 100%;
        transition: all var(--bottom-nav-transition-time) var(--bottom-nav-transition-animation);
    }
}

.rotate-button-container {
    height: var(--header-height);
    width: var(--header-height);
    position: relative;
    .rotate-button {
        display: none;
        & ~ .rotate-lable {
            padding: 2px;
            position: absolute;
            transition: all 0.3s;
            cursor: pointer;
            z-index: 99;
            height: var(--header-height);
            width: var(--header-height);
            .spinner,
            .colored {
                width: 100%;
                height: 100%;
                float: left;
                transition: all 0.5s;
                background: var(--company-color1);
                .spin-on {
                    width: 100%;
                    height: 100%;
                    display: none;
                }
                .spin-off {
                    width: 100%;
                    height: 100%;
                    display: blcok;
                }
            }
            .colored {
                background: rgba(200, 200, 200, 0.4);
                transition: all 0.5s;
                .spin-on {
                    color: rgba(240, 240, 240, 0.8);
                    display: none;
                }
                .spin-off {
                    color: rgba(240, 240, 240, 0.8);
                    display: block;
                }
            }
        }
        &:checked ~ .rotate-lable {
            .spinner {
                width: 100%;
                height: 100%;
                transform: rotate(-180deg);
                transition: all 0.5s;
                box-sizing: border-box;
                .spin-on {
                    display: block;
                }
                .spin-off {
                    display: none;
                }
            }
            .colored {
                background: rgba(20, 80, 20, 0.8);
                transition: all 0.5s;
                .spin-on {
                    color: #00ff00;
                    display: block;
                }
                .spin-off {
                    color: #00ff00;
                    display: none;
                }
            }
        }
    }
}

/* 
.sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebarMenuInner li span {
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.sidebarMenuInner li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
} */
/* Base styles for the element that has a tooltip */
