@import "./000_css/AppTailwind.css";
@import url("https://fonts.googleapis.com/css2?family=Chicle&family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap");
/* @import "./000_css/Dialog.css"; */
/* @import "./000_css/Header.css"; */

@import "./000_css/100_Frame.css";
@import "./000_css/101_Dialog.css";
@import "./000_css/900_tooltips.css";

:root {
    --text-color: #333;
    --company-color1: rgba(64, 119, 187, 1);
    --company-color2: rgba(29, 47, 78, 1);
    --company-color3: rgba(255, 255, 255, 1);
    --company-color1-alpha: rgba(64, 119, 187, 0.3);
    --company-color2-alpha: rgba(29, 47, 78, 0.3);
    --company-color3-alpha: rgba(255, 255, 255, 0.3);
    --global-shadow-color: rgba(0, 0, 0, 0.4);

    --sidebar-transition-time: 0.3s;
    --sidebar-transition-animation: ease-in-out;
    --bottom-nav-transition-time: 0.1s;
    --bottom-nav-transition-animation: ease-in-out;

    --header-height: 2rem;
    --sidebar-width: 15rem;
    --right-sidebar-width: 20rem;
    --bottom-nav-height: 11rem;

    --dialog-border-color: rgba(100, 100, 100, 1);
    --dialog-shadow-color: rgba(0, 0, 0, 0.3);
    --dialog-background-color: rgba(255, 255, 255, 1);
    --dialog-primary-color: rgba(19, 70, 209, 1);
    --dialog-active-color: rgba(255, 70, 209, 1);
    --dialog-input-border-color: rgba(200, 200, 200, 1);
    --dialog-submit-button-color: rgba(180, 190, 230, 1);
    --dialog-cancel-button-color: rgba(235, 80, 80, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html {
    font-size: 16px;
}
body {
    height: 100%;
    width: 100%;
    color: var(--text-color);
    background: linear-gradient(45deg, var(--company-color1) 0, 5%, var(--company-color2) 5% 10%, var(--company-color3) 10% 80%, var(--company-color1) 80% 85%, var(--company-color2) 85% 100%);
}

/* (0) Lyaer 0 */
.application-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.state-control-checkbox {
    display: none;
    &:checked ~ .dialog-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background: rgba(200, 200, 200, 0.4);

        animation-name: dialog-show;
        animation-duration: 0.4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }
    & ~ .dialog-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background: rgba(100, 100, 100, 0.4);

        animation-name: dialog-hide;
        animation-duration: 0.4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }
}

@keyframes dialog-hide {
    from {
        opacity: 1;
        z-index: 200;
    }
    90% {
        opacity: 0;
        z-index: -1;
    }
    to {
        opacity: 0;
        z-index: -1;
        /* display: none; */
    }
}

@keyframes dialog-show {
    from {
        opacity: 0;
        z-index: -1;
    }
    10% {
        display: flex;
        z-index: 200;
    }
    to {
        opacity: 1;
        z-index: 200;
    }
}

/* 
.sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebarMenuInner li span {
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.sidebarMenuInner li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
} */
/* Base styles for the element that has a tooltip */
