/** (x) Dialog **/
/**** (x-1) Vriables */
:root {
    --dialog-border-color: rgba(100, 100, 100, 1);
    --dialog-shadow-color: rgba(0, 0, 0, 0.4);
    --dialog-background-color: rgba(255, 255, 255, 0.5);
    --dialog-primary-color: rgba(19, 70, 209, 1);
    --dialog-active-color: rgba(255, 70, 209, 1);
    --dialog-input-border-color: rgba(200, 200, 200, 1);
    --dialog-submit-button-color: rgba(180, 190, 230, 1);
}
/****** (x-2) style */
.dialog-container {
    margin: 50px;
    display: flex;
    justify-content: center;

    .dialog-frame {
        border: 2px solid var(--dialog-border-color);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 5px 5px var(--dialog-shadow-color);
        background: var(--dialog-background-color);
        overflow: hidden;
        /****** (a) title */
        .dialog-title {
            margin-top: 20px;
            background: #ffffdd;
            width: 100%;
        }
        /****** (b) content */
        .dialog-content {
            /****** (b-1) Application Title */
            .dialog-application-title {
                font-family: "Chicle", cursive;
                font-size: 3rem;
                text-align: center;
            }
            /****** (b-2) Radio Button Title */
            .dialog-radio-tile-group {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 15px;
                .dialog-input-container {
                    position: relative;
                    height: 6rem;
                    width: 6rem;
                    margin: 0.5rem;

                    .dialog-radio-button {
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        margin: 0;
                        cursor: pointer;
                    }

                    .dialog-radio-tile {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        border: 2px solid var(--dialog-primary-color);
                        color: var(--dialog-primary-color);
                        border-radius: 5px;
                        padding: 1rem;
                        transition: transform 300ms ease;
                    }
                    .dialog-radio-tile-label {
                        text-align: center;
                        font-size: 0.75rem;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        color: $primary-color;
                    }

                    /**** Active*/
                    .dialog-radio-button:checked + .dialog-radio-tile {
                        background-color: var(--dialog-primary-color);
                        color: white;
                        transform: scale(1.05, 1.05);
                    }
                }
            }
            /****** (b-3) Dialog description */
            .dialog-description {
                margin: 10px;
                padding-left: 20px;
                padding-right: 20px;
                width: 400px;
                overflow-wrap: break-word;
                color: #333333;
            }
        }
    }
}

.dialog-input-container {
    margin: 30px;
    display: flex;
    flex-direction: column;

    .dialog-input-controls {
        text-align: left;
        position: relative;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        transition: all 1.3s;

        .input-text {
            padding: 0.5rem;
            font-size: 1rem;
            border: 2px solid var(--dialog-primary-color);
            width: 100%;
            /* margin-bottom: 18px; */
            font-size: 1rem;
            font-weight: 600;
            border-radius: 2px;
            transition: all 0.3s;
            &:hover,
            &:focus {
                /* border: 2px solid var(--dialog-active-color); */
                border: 2px solid var(--dialog-primary-color);
                /* outline: none !important; */
                outline: 2px solid var(--dialog-primary-color);
            }
            &:hover + label,
            &:focus + label,
            + label:hover,
            &:not(:placeholder-shown) + label {
                top: -11px;
                color: #555;
                background-color: rgba(255, 255, 255, 1);
                width: auto;
            }
            + label {
                position: absolute;
                left: 0.5rem;
                top: 0.5rem;
                color: #000;
                font-size: 1rem;
                padding-left: 1rem;
                padding-right: 1rem;
                font-weight: 200;
                background-color: rgba(255, 255, 255, 1);
                transition: top 0.15s;
                user-select: none;
            }
        }
        .submit-button {
            color: var(--dialog-primary-color);
            cursor: pointer;
            user-select: none;
            background: transparent;
            border-width: 2px;
            position: relative;

            border-style: solid;
            border-color: var(--dialog-primary-color);

            margin: 1em;
            display: inline-block;
            padding: 0.5em 1em;
            transition: all 0.3s ease-in-out;
            text-align: center;
            font-family: comfortaa;
            font-weight: bold;
            &.hide {
                display: none;
            }
            &:before,
            &:after {
                content: "";
                display: block;
                position: absolute;
                border-color: var(--dialog-primary-color);
                box-sizing: border-box;
                border-style: solid;
                width: 1rem;
                height: 1rem;
                transition: all 0.3s ease-in-out;
            }
            &:before {
                top: -6px;
                left: -6px;
                border-width: 2px 0 0 2px;
                z-index: 5;
            }
            &:after {
                bottom: -6px;
                right: -6px;
                border-width: 0 2px 2px 0;
            }
            &:hover:before,
            &:hover:after {
                width: calc(100% + 12px);
                height: calc(100% + 12px);
                border-color: var(--dialog-primary-color);
            }
            &:hover {
                color: #ffffff;
                background-color: var(--dialog-primary-color);
                border-color: var(--dialog-primary-color);
            }
        }

        &.align-center {
            text-align: center;
        }
        &.hide {
            display: none;
        }
    }
}
