/bin/*.js
/bin/*.d.ts
/lib/*.js
/lib/*.d.ts
/test/*.js
/test/*.d.ts

!jest.config.js
/node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

# output
cfn_outputs.json