/* (1) Lyaer 1 */
/** (1-1) Header **/
.header {
    position: fixed;
    height: var(--header-height);
    width: 100%;
    background: var(--company-color1);
    box-shadow: 2px 2px 2px var(--global-shadow-color);
    display: flex;
    z-index: 100;

    .sidebar-button-area {
        flex-grow: 0;
        height: 100%;
        width: 100%;
        display: flex;
    }
    .status-area {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        height: 100%;
        width: 100%;
        font-size: 1.5rem;
    }
    .menu-item-area {
        flex-grow: 1;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .group {
            display: flex;
            .spacer {
                margin-left: 1rem;
            }
        }
    }
}

/** (1-2) sidebar, main-area, right-sidebar **/
/*** (1-2-1) initialize ***/
.sidebar,
.right-sidebar {
    position: fixed;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    width: var(--sidebar-width);
    background: linear-gradient(10deg, var(--company-color1) 0, 5%, var(--company-color2) 5% 10%, var(--company-color3) 10% 80%, var(--company-color1) 80% 85%, var(--company-color2) 85% 100%);
    z-index: 51;
    display: flex;
    flex-direction: column;
    .sidebar-partition {
        position: static;
        display: flex;
        flex-direction: column;
        width: 100%;
        color: rgba(255, 255, 255, 1);
        background: rgba(0, 0, 0, 0);
        z-index: 52;
        overflow: hidden;

        .sidebar-header {
            position: static;
            width: 100%;
            height: var(--header-height);
            font-size: 1.3rem;
            background: rgba(10, 10, 10, 0.5);
            display: flex;
            justify-content: space-between;
            .title {
                padding-left: 1rem;
                user-select: none;
            }
            .caret {
                align-items: right;
            }
        }
        .sidebar-content {
            position: static;
            width: 100%;
            /* height: var(--header-height); */
            height: calc(100% - var(--header-height));
            background: rgba(200, 0, 0, 1);
            .sidebar-create-room {
                padding: 0;
                margin: 0;
                text-align: right;
                user-select: none;
                cursor: pointer;
                font-size: 1rem;
            }
            .sidebar-room-list,
            .sidebar-attendee-list {
                width: 100%;
                height: calc(100% - 6rem);
                overflow-y: scroll;
                overflow-x: hidden;
                &::-webkit-scrollbar {
                    width: 12px;
                    height: 10px;
                }
                &::-webkit-scrollbar-track {
                    background-color: var(--company-color3-alpha);
                    border-radius: 100px;
                }
                &::-webkit-scrollbar-thumb {
                    background: var(--company-color2);
                    border-radius: 100px;
                    width: 130px;
                }
                .sidebar-room-item,
                .sidebar-attendee-item {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 0.2rem;

                    .sidebar-room-name,
                    .sidebar-attendee-name {
                        padding-left: 1rem;
                        max-width: calc(100% - 6rem);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .sidebar-room-join {
                        cursor: pointer;
                        max-width: 5rem;
                        font-size: 1rem;
                        padding-right: 1rem;
                    }
                }
            }
        }
    }

    .sidebar-accordion-meeting-checkbox,
    .sidebar-accordion-chat-checkbox,
    .sidebar-accordion-attendees-checkbox,
    .sidebar-accordion-local-chat-checkbox,
    .sidebar-accordion-whiteboard-checkbox {
        display: none;
        &:checked + .sidebar-partition {
            flex-grow: 1;
            transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
        }
        &:not(checked) + .sidebar-partition {
            height: var(--header-height);
            transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
        }
    }

    /* .sidebar-accordion-chat-checkbox {
        display: none;
        &:checked + .sidebar-partition {
            height: 100%;
        }
        &:not(checked) + .sidebar-partition {
            height: var(--header-height);
        }
    } */
    /* .sidebar-accordion-meeting-checkbox:checked + .sidebar-accordion-chat-checkbox:checked {
        & ~ .sidebar-partition-meeting,
        & ~ .sidebar-partition-chat {
            height: 50%;
            transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
            .sidebar-content {
                height: calc(100% - 2rem);
                transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
                .sidebar-room-list {
                    height: calc(100% - 1rem);
                }
            }
        }
    }
    .sidebar-accordion-meeting-checkbox:not(checked) + .sidebar-accordion-chat-checkbox:checked {
        & ~ .sidebar-partition-meeting {
            height: var(--header-height);
            .sidebar-content {
                height: 0%;
                transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
            }
        }
        & ~ .sidebar-partition-chat {
            height: calc(100vh - var(--header-height));
            transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
            .sidebar-content {
                height: calc(100% - var(--header-height));
                transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
            }
        }
    }
    .sidebar-accordion-meeting-checkbox:checked + .sidebar-accordion-chat-checkbox:not(checked) {
        & ~ .sidebar-partition-meeting {
            height: calc(100vh - var(--header-height));
            transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
            .sidebar-content {
                height: calc(100% - calc(var(--header-height) + var(--header-height)));
                transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
            }
        }
        & ~ .sidebar-partition-chat {
            height: var(--header-height);
            transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
            .sidebar-content {
                height: 100%;
            }
        }
    }

    .sidebar-accordion-meeting-checkbox:not(checked) + .sidebar-accordion-chat-checkbox:not(checked) {
        & ~ .sidebar-partition-meeting {
            height: var(--header-height);
            transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
            .sidebar-content {
                height: 100%;
            }
        }
        & ~ .sidebar-partition-chat {
            height: var(--header-height);
            transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
            .sidebar-content {
                height: 100%;
            }
        }
    } */
}

/*** (X) Sidebar  ***/
/* .open-sidebar-checkbox:checked + .open-right-sidebar-checkbox:checked {
    ~ .main-area {
        margin-right: 0rem;
        left: var(--sidebar-width);
        right: var(--right-sidebar-width);
        width: calc(calc(100vw - var(--sidebar-width)) - var(--right-sidebar-width));
        transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
    }
}
.open-sidebar-checkbox:checked + .open-right-sidebar-checkbox:not(checked) {
    ~ .main-area {
        margin-right: 0rem;
        left: var(--sidebar-width);
        right: 0rem;
        width: calc(100vw - var(--sidebar-width));
        transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
    }
}
.open-sidebar-checkbox:not(checked) + .open-right-sidebar-checkbox:checked {
    ~ .main-area {
        margin-right: 0rem;
        left: 0rem;
        right: var(--right-sidebar-width);
        width: calc(100vw - var(--right-sidebar-width));
        transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
    }
}
.open-sidebar-checkbox:not(checked) + .open-right-sidebar-checkbox:not(checked) {
    ~ .main-area {
        margin-right: 0rem;
        left: 0rem;
        right: 0rem;
        width: 100vw;
        transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
    }
} */

.sidebar:after {
    content: "";
    position: absolute;
    height: calc(100vh - var(--header-height));
    width: var(--sidebar-width);
    background: var(--company-color1-alpha);
}
.sidebar:before {
    content: "";
    position: absolute;
    height: calc(100vh - var(--header-height));
    width: var(--sidebar-width);
    background: var(--company-color2-alpha);
    clip-path: ellipse(98% 71% at 20% 30%);
}

.main-area {
    position: fixed;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    z-index: 50;
}

.right-sidebar {
    position: fixed;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    width: var(--right-sidebar-width);
    background: var(--company-color3);
    z-index: 50;
}

.right-sidebar:before {
    content: "";
    position: absolute;
    height: calc(100vh - var(--header-height));
    width: var(--right-sidebar-width);
    background: var(--company-color2-alpha);
    /* clip-path: ellipse(98% 30% at 91% 90%); */
}
.right-sidebar:after {
    content: "";
    position: absolute;
    height: calc(100vh - var(--header-height));
    width: var(--right-sidebar-width);
    background: var(--company-color1-alpha);
    clip-path: ellipse(158% 41% at 60% 30%);
}

/*** (1-2-2) action ***/
/*** (A) sidebar ***/
.open-sidebar-checkbox {
    display: none;
    &:checked ~ .sidebar {
        left: 0;
        transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
    }
    & ~ .sidebar {
        left: calc(-1 * var(--sidebar-width));
        transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
    }
}

/*** (B) right-sidebar ***/
.open-right-sidebar-checkbox {
    display: none;
    &:checked ~ .right-sidebar {
        right: 0;
        transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
    }
    & ~ .right-sidebar {
        right: calc(-1 * var(--right-sidebar-width));
        transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
    }
}

/*** (C) main-area ***/
.open-sidebar-checkbox:checked + .open-right-sidebar-checkbox:checked {
    ~ .main-area {
        margin-right: 0rem;
        left: var(--sidebar-width);
        right: var(--right-sidebar-width);
        width: calc(calc(100vw - var(--sidebar-width)) - var(--right-sidebar-width));
        transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
    }
}
.open-sidebar-checkbox:checked + .open-right-sidebar-checkbox:not(checked) {
    ~ .main-area {
        margin-right: 0rem;
        left: var(--sidebar-width);
        right: 0rem;
        width: calc(100vw - var(--sidebar-width));
        transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
    }
}
.open-sidebar-checkbox:not(checked) + .open-right-sidebar-checkbox:checked {
    ~ .main-area {
        margin-right: 0rem;
        left: 0rem;
        right: var(--right-sidebar-width);
        width: calc(100vw - var(--right-sidebar-width));
        transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
    }
}
.open-sidebar-checkbox:not(checked) + .open-right-sidebar-checkbox:not(checked) {
    ~ .main-area {
        margin-right: 0rem;
        left: 0rem;
        right: 0rem;
        width: 100vw;
        transition: all var(--sidebar-transition-time) var(--sidebar-transition-animation);
    }
}

/* (2) Lyaer 2 (In main-area)*/
/* In MainArea, focused video area vs bottom-bar*/
/** (2-1) main-video-area, bottom-nav **/
/*** (2-1-1) initialize***/
.main-video-area {
    overflow: hidden;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
}
.bottom-nav {
    overflow: hidden;
    position: absolute;
    width: 100%;

    height: var(--bottom-nav-height);
    /* width: calc(calc(100vw - 15rem) - 15rem); */
    /* display: grid; */
    background: linear-gradient(var(--company-color1-alpha) 0, 15%, var(--company-color2) 5% 10%, var(--company-color2-alpha) 10% 80%, var(--company-color1) 80% 85%, var(--company-color2) 85% 100%);
}

/*** (2-1-2) action***/
/*** (A) bottom nav ***/
.open-bottom-nav-checkbox {
    display: none;
    &:checked ~ .bottom-nav {
        bottom: 0;
        transition: all var(--bottom-nav-transition-time) var(--bottom-nav-transition-animation);
    }
    & ~ .bottom-nav {
        bottom: calc(-1 * var(--bottom-nav-height));
        transition: all var(--bottom-nav-transition-time) var(--bottom-nav-transition-animation);
    }
}

/*** (B) main-video-area ***/
.open-bottom-nav-checkbox {
    display: none;
    &:checked ~ .main-video-area {
        height: calc(100% - var(--bottom-nav-height));
        transition: all var(--bottom-nav-transition-time) var(--bottom-nav-transition-animation);
    }
    & ~ .main-video-area {
        height: 100%;
        transition: all var(--bottom-nav-transition-time) var(--bottom-nav-transition-animation);
    }
}

.sidebar-partition {
    .sidebar-signage-area {
        position: static;
        width: 100%;
        /* text-align: center; */
        height: 2rem;
        /* padding: 2px; */
        background: rgba(0, 0, 0, 0.8);

        .letter {
            display: inline-block;
            position: relative;
            float: left;
            transform: translateZ(25px);
            transform-origin: 50% 50% 25px;
        }

        .letter.out {
            transform: rotateX(90deg);
            transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }

        .letter.behind {
            transform: rotateX(-90deg);
        }

        .letter.in {
            transform: rotateX(0deg);
            transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
    }
}

.attendee-video-list-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}
.attendee-video-list-checkbox-label {
    position: static;
    display: block;
    user-select: none;
    margin: 2px;
    padding: 1px;
    background: rgba(127, 127, 200, 0.8);
    border-radius: 2px;
    box-shadow: 2px 2px 5px var(--dialog-shadow-color);
    border: 2px solid var(--dialog-border-color);
    width: 5rem;
    height: 2rem;
    text-align: center;
}

.attendee-video-list-checkbox {
    background: #0f0;
    display: none;

    + .attendee-video-list {
        display: flex;
        /* justify-content: space-around; */
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        top: calc(2rem + 5px);
    }

    &:not(checked) + .attendee-video-list {
        position: absolute;
        animation: MOVE_OUT 0.4s 1;
        animation-fill-mode: forwards;
        margin-left: 0vw;
        transform: translateZ(-100);
        opacity: 1;
        + .attendee-video-list-checkbox-label {
            background: rgba(150, 150, 0, 0.6);
        }
    }

    &:checked + .attendee-video-list {
        position: absolute;
        animation: MOVE_IN 0.4s 1;
        animation-fill-mode: forwards;
        margin-left: 100%;
        opacity: 0;
        + .attendee-video-list-checkbox-label {
            background: rgba(200, 200, 0, 0.9);
        }
    }
}

@keyframes MOVE_IN {
    100% {
        margin-left: 0vw;
        opacity: 1;
    }
}
@keyframes MOVE_OUT {
    100% {
        margin-left: 100%;
        opacity: 0;
    }
}

.attendee-video-list {
    .attendee-video-list-tile-container {
        position: relative;
        width: 15%;
        height: 100%;
        .attendee-video-list-video-tile {
            position: absolute;
            object-fit: contain;
            width: 100%;
            /* height: 100%; */
            top: 0;
        }
        .attendee-video-list-video-tile-tag {
            position: absolute;
            background: #333333;
            color: #ffffff;
            top: 0;
            left: 0;
            margin-left: 20px;
            padding-left: 2px;
            padding-right: 2px;
        }
    }
}
