/* (1) Dialog コンテナと表示・非表示 */
.dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.state-control-checkbox:checked ~ .dialog-container {
    background: rgba(200, 200, 200, 0.4);
    animation-name: dialog-show;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}
.state-control-checkbox ~ .dialog-container {
    background: rgba(100, 100, 100, 0.4);
    animation-name: dialog-hide;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

@keyframes dialog-hide {
    from {
        opacity: 1;
        z-index: 200;
    }
    90% {
        opacity: 0;
        z-index: -1;
    }
    to {
        opacity: 0;
        z-index: -1;
        /* display: none; */
    }
}

@keyframes dialog-show {
    from {
        opacity: 0;
        z-index: -1;
    }
    10% {
        display: flex;
        z-index: 200;
    }
    to {
        opacity: 1;
        z-index: 200;
    }
}

/* (2) Dialog の枠 */
.dialog-frame {
    color: #f00;
    width: 40rem;
    border: 2px solid var(--dialog-border-color);
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px var(--dialog-shadow-color);
    background: var(--dialog-background-color);
    overflow: hidden;
}
.state-control-checkbox:checked + .dialog-frame {
    display: flex;
}
.state-control-checkbox + .dialog-frame {
    display: none;
}

/* (2) Dialog の中身 */
/****** (a) title */
.dialog-title {
    margin-top: 20px;
    background: var(--company-color2);
    color: #fff;
    width: 100%;
    text-align: center;
}
/****** (b) content */
.dialog-content {
    width: 90%;
}
/****** (b-1) Application Title */
.dialog-application-title {
    font-family: "Chicle", cursive;
    font-size: 3rem;
    text-align: center;
}
/****** (b-2) Radio Button Title */
.dialog-radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
    .dialog-tile-icon-container {
        position: relative;
        height: 6rem;
        width: 6rem;
        margin: 0.5rem;

        .dialog-radio-button {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            cursor: pointer;
        }

        .dialog-radio-button + .dialog-radio-tile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border: 2px solid var(--dialog-primary-color);
            color: var(--dialog-primary-color);
            border-radius: 5px;
            padding: 1rem;
            transition: transform 300ms ease;
        }

        /**** Active*/
        .dialog-radio-button:checked + .dialog-radio-tile {
            background-color: var(--dialog-primary-color);
            color: white;
            transform: scale(1.05, 1.05);
        }

        .dialog-radio-tile-label {
            text-align: center;
            font-size: 0.75rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $primary-color;
        }
    }
}

/****** (b-3) Dialog description */
.dialog-description {
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-wrap: break-word;
    color: #333333;
}

.dialog-input-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    .dialog-input-controls.hidden {
        display: none;
    }
    .dialog-input-controls {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        text-align: left;
        position: relative;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 15px;
        margin-bottom: 15px;
        transition: all 1.3s;

        .input-text,
        .select {
            padding: 0.5rem;
            font-size: 1rem;
            border: 2px solid var(--dialog-primary-color);
            width: 100%;
            /* margin-bottom: 18px; */
            font-size: 1rem;
            font-weight: 600;
            border-radius: 4px;
            transition: all 0.3s;
            &:hover,
            &:focus {
                /* border: 2px solid var(--dialog-active-color); */
                border: 2px solid var(--dialog-primary-color);
                /* outline: none !important; */
                outline: 2px solid var(--dialog-primary-color);
            }
            &:hover + label,
            &:focus + label,
            + label:hover,
            &:not(:placeholder-shown) + label {
                top: -0.8rem;
                color: #555;
                background-color: rgba(255, 255, 255, 1);
                width: auto;
            }
            + label {
                position: absolute;
                left: 0.5rem;
                top: 0.5rem;
                color: #000;
                font-size: 1rem;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                font-weight: 200;
                background-color: rgba(255, 255, 255, 1);
                transition: top 0.15s;
                user-select: none;
                border-radius: 10px;
            }
        }
        .checkbox {
            border: 2px solid var(--dialog-primary-color);
            border-radius: 4px;
            transition: all 0.3s;
            &:hover,
            &:focus {
                border: 2px solid var(--dialog-primary-color);
                outline: 2px solid var(--dialog-primary-color);
            }
            + label {
                cursor: pointer;
                color: #000;
                font-size: 1rem;
                margin-left: 5px;
                font-weight: 400;
                color: #000;
                background-color: rgba(255, 255, 255, 1);
                transition: top 0.15s;
                user-select: none;
                margin-right: 3rem;
            }
        }
        .submit-button {
            width: 30%;
            color: var(--dialog-primary-color);
            cursor: pointer;
            user-select: none;
            background: transparent;
            border-width: 2px;
            position: relative;

            border-style: solid;
            border-color: var(--dialog-primary-color);

            margin: 1em;
            display: inline-block;
            padding: 0.5em 1em;
            transition: all 0.3s ease-in-out;
            text-align: center;
            font-family: comfortaa;
            font-weight: bold;
            &.hide {
                display: none;
            }
            &:before,
            &:after {
                content: "";
                display: block;
                position: absolute;
                border-color: var(--dialog-primary-color);
                box-sizing: border-box;
                border-style: solid;
                width: 1rem;
                height: 1rem;
                transition: all 0.3s ease-in-out;
            }
            &:before {
                top: -6px;
                left: -6px;
                border-width: 2px 0 0 2px;
                z-index: 5;
            }
            &:after {
                bottom: -6px;
                right: -6px;
                border-width: 0 2px 2px 0;
            }
            &:hover:before,
            &:hover:after {
                width: calc(100% + 12px);
                height: calc(100% + 12px);
                border-color: var(--dialog-primary-color);
            }
            &:hover {
                color: #ffffff;
                background-color: var(--dialog-primary-color);
                border-color: var(--dialog-primary-color);
            }
        }
        .cancel-button {
            width: 30%;
            color: var(--dialog-cancel-button-color);
            cursor: pointer;
            user-select: none;
            background: transparent;
            border-width: 2px;
            position: relative;

            border-style: solid;
            border-color: var(--dialog-cancel-button-color);

            margin: 1em;
            display: inline-block;
            padding: 0.5em 1em;
            transition: all 0.3s ease-in-out;
            text-align: center;
            font-family: comfortaa;
            font-weight: bold;
            &.hide {
                display: none;
            }
            &:before,
            &:after {
                content: "";
                display: block;
                position: absolute;
                border-color: var(--dialog-cancel-button-color);
                box-sizing: border-box;
                border-style: solid;
                width: 1rem;
                height: 1rem;
                transition: all 0.3s ease-in-out;
            }
            &:before {
                top: -6px;
                left: -6px;
                border-width: 2px 0 0 2px;
                z-index: 5;
            }
            &:after {
                bottom: -6px;
                right: -6px;
                border-width: 0 2px 2px 0;
            }
            &:hover:before,
            &:hover:after {
                width: calc(100% + 12px);
                height: calc(100% + 12px);
                border-color: var(--dialog-cancel-button-color);
            }
            &:hover {
                color: #ffffff;
                background-color: var(--dialog-cancel-button-color);
                border-color: var(--dialog-cancel-button-color);
            }
        }
        .normal-button {
            display: inline;
            padding: 5px;
            margin-left: 1rem;
            /* margin-right: 2rem; */
            /* margin-top: 1rem; */
            border-radius: 5px;
            border: 1px solid #ccc;
            background: #f1e767;
            background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
            box-shadow: inset 1px 1px 1px #fff;
            white-space: nowrap;
        }
        .normal-button:hover {
            background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
            background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
            background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
        }
        .image-card-selector {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            background: #ccc;
            width: 100%;
            height: 100px;
            .image-card-selector-image-card-container {
                background: #ffa;
                width: 100px;
                height: 100px;
                border: 2px solid #000;
                margin: 3px;
                &:hover {
                    border: 4px solid #000;
                }
                .image-card-selector-image-card-container-no-image {
                    text-align: center;
                    vertical-align: middle;
                    padding: 10px;
                    font-weight: 700;
                    user-select: none;
                }
                .image-card-selector-image-card-container-image-with-cross {
                    position: relative;
                    background: #f10;
                    width: 100%;
                    height: 100%;
                    .image-card-selector-image-card-container-image {
                        width: 100%;
                        height: 100%;
                    }
                    .image-card-selector-image-card-container-image-cross {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        margin: 2px;
                        width: 30px;
                        height: 30px;
                        color: #321;
                        background: rgba(200, 200, 200, 0.6);
                        border-radius: 5px;
                        /* border: 2px solid #000; */
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        &:hover {
                            background: rgba(200, 200, 200, 0.9);
                        }
                    }
                }
            }
        }
        .dialog-message {
            color: #f00;
            width: 50%;
            margin: 10px;
            font-size: 1rem;
            font-weight: 600;
        }
        .video {
            width: 100%;
            height: 300px;
        }
    }
}

.state-control-checkbox:checked {
    & ~ .button-container,
    ~ .div-container {
        display: block;
        display: flex;
        align-items: flex-end;
    }
}
.state-control-checkbox {
    & ~ .button-container,
    ~ .div-container {
        display: none;
    }
}
