.sidebar-partition {
    .sidebar-signage-area {
        position: static;
        width: 100%;
        /* text-align: center; */
        height: 2rem;
        /* padding: 2px; */
        background: rgba(0, 0, 0, 0.8);

        .letter {
            display: inline-block;
            position: relative;
            float: left;
            transform: translateZ(25px);
            transform-origin: 50% 50% 25px;
        }

        .letter.out {
            transform: rotateX(90deg);
            transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }

        .letter.behind {
            transform: rotateX(-90deg);
        }

        .letter.in {
            transform: rotateX(0deg);
            transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
    }
}
